node_modules
.eslint*
.prettierrc
npm-debug.log
docs/*
!docs/_layouts
!docs/assets
!docs/dist
!docs/_config.yml
!docs/index.md
!docs/demo.gif
!docs/_sass
!docs/_includes
!docs/docs
!docs/Gemfile
!docs/.gitignore
index.html