// Container
$awn-container-z-index: 99998 !default;
$awn-container-padding: 24px !default;

// Notifications
$awn-toast-width: 320px !default;
$awn-toast-padding: 16px !default;
$awn-toast-margin: 16px !default;
$awn-toast-border-width: 1px !default;
$awn-toast-border-style: solid !default;
$awn-toast-border-color: #e0e0e0 !default;
$awn-border: $awn-toast-border-width $awn-toast-border-style
  $awn-toast-border-color !default;
$awn-progress-bar-height: 2px !default;
$awn-toast-font-size: 13px !default;
$awn-toast-title-font-size: 16px !default;
$awn-toast-icon-size: 44px !default;

// Colors
$awn-primary-color: #999 !default;
$awn-primary-background: lighten($awn-primary-color, 33%) !default;
$awn-primary-bar-background: lighten($awn-primary-color, 35%) !default;
$awn-primary-border-color: $awn-toast-border-color !default;

$awn-success-color: #609c33 !default;
$awn-success-background: lighten($awn-success-color, 38%) !default;
$awn-success-bar-background: lighten($awn-success-color, 42%) !default;
$awn-success-border-color: lighten($awn-success-color, 20%) !default;

$awn-info-color: #0a96e2 !default;
$awn-info-background: lighten($awn-info-color, 38%) !default;
$awn-info-bar-background: lighten($awn-info-color, 42%) !default;
$awn-info-border-color: lighten($awn-info-color, 20%) !default;

$awn-alert-color: #9d2c27 !default;
$awn-alert-background: lighten($awn-alert-color, 38%) !default;
$awn-alert-bar-background: lighten($awn-alert-color, 42%) !default;
$awn-alert-border-color: lighten($awn-alert-color, 25%) !default;

$awn-warning-color: #e66c0e !default;
$awn-warning-background: lighten($awn-warning-color, 38%) !default;
$awn-warning-bar-background: lighten($awn-warning-color, 42%) !default;
$awn-warning-border-color: lighten($awn-warning-color, 25%) !default;

// Modal Windows
$awn-modal-wrapper-bg: rgba(0, 0, 0, 0.7) !default;
$awn-modal-wrapper-z-index: 99999 !default;
$awn-modal-bg: #fff !default;
$awn-modal-min-width: 320px !default;
$awn-modal-font-size: 14px !default;
$awn-modal-icon-size: 44px !default;
$awn-modal-padding: 24px !default;
$awn-modal-btn-height: 32px !default;
$awn-modal-btn-color: #fff !default;
$awn-modal-btn-space: 8px !default;

// Animations
$awn-modal-show-animation: awn-fade-in;
$awn-modal-hide-animation: awn-fade-out;
$awn-modal-animation-timing: ease-out;

$awn-toast-left-show-animation: awn-slide-left;
$awn-toast-right-show-animation: awn-slide-right;
$awn-toast-hide-animation: awn-fade-out;
$awn-toast-animation-timing: linear;
