// Container
$awn-container-z-index: 99998 !default;
$awn-container-padding: 24px !default;

// Notifications
$awn-event-width: 320px !default;
$awn-event-padding: 16px !default;
$awn-event-margin: 16px !default;
$awn-event-border-width: 1px !default;
$awn-event-border-style: solid !default;
$awn-event-border-color: #e0e0e0 !default;
$awn-border: $awn-event-border-width $awn-event-border-style
  $awn-event-border-color !default;
$awn-progress-bar-height: 2px !default;
$awn-event-font-size: 13px !default;
$awn-event-title-font-size: 16px !default;
$awn-event-icon-size: 44px !default;

// Colors
$awn-primary-color: #999 !default;
$awn-primary-background: lighten($awn-primary-color, 33%);
$awn-primary-bar-background: lighten($awn-primary-color, 35%);

$awn-success-color: #609c33 !default;
$awn-success-background: lighten($awn-success-color, 38%) !default;
$awn-success-bar-background: lighten($awn-success-color, 42%) !default;
$awn-success-border-color: lighten($awn-success-color, 20%) !default;

$awn-info-color: #0a96e2 !default;
$awn-info-background: lighten($awn-info-color, 38%) !default;
$awn-info-bar-background: lighten($awn-info-color, 42%) !default;
$awn-info-border-color: lighten($awn-info-color, 20%) !default;

$awn-alert-color: #9d2c27 !default;
$awn-alert-background: lighten($awn-alert-color, 38%) !default;
$awn-alert-bar-background: lighten($awn-alert-color, 42%) !default;
$awn-alert-border-color: lighten($awn-alert-color, 25%) !default;

$awn-warning-color: #e66c0e !default;
$awn-warning-background: lighten($awn-warning-color, 38%) !default;
$awn-warning-bar-background: lighten($awn-warning-color, 42%) !default;
$awn-warning-border-color: lighten($awn-warning-color, 25%) !default;

// Modal Windows
$awn-confirm-wrapper-bg: rgba(0, 0, 0, 0.7) !default;
$awn-confirm-wrapper-z-index: 99999 !default;
$awn-confirm-bg: #fff !default;
$awn-confirm-min-width: 320px !default;
$awn-confirm-font-size: 14px !default;
$awn-confirm-icon-size: 44px !default;
$awn-confirm-padding: 24px !default;
$awn-confirm-btn-height: 32px !default;
$awn-confirm-btn-color: #fff !default;
$awn-confirm-btn-space: 8px !default;

// Animations
$awn-confirm-show-animation: awn-fade-in;
$awn-confirm-hide-animation: awn-fade-out;
$awn-confirm-animation-timing: ease-out;

$awn-event-left-show-animation: awn-slide-left;
$awn-event-right-show-animation: awn-slide-right;
$awn-event-hide-animation: awn-fade-out;
$awn-event-animation-timing: linear;
