$grid: 8px;
// Colors
$color-secondary: #f5f5f5;
$green: #42b983;
$blue: #429cb8;
$red: #9d2c27;
// Fonts
$font-color: #333;
$font-color-secondary: #666;
$font-color-muted: #999;
$font-color-disabled: #ccc;
// Borders
$border-color: #ececec;
$border-width: 1px;
$border-style: solid;
$border: $border-width $border-style $border-color;
// Header
$header-height: 80px;
// Sidebar
$sidebar-width: 300px;
// Footer
$footer-height: 90px;
