#docs-layout {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: $header-height 1fr $footer-height;
  grid-template-areas: 'sidebar header''sidebar content''sidebar footer';
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



#content {
  overflow: auto;
  grid-area: content;
  padding: $grid * 3 30%;
}
