a,
a:hover,
a:focus,
a:visited {
  color: $green;
  text-decoration: none;
  outline: none;
  transition: color .4s ease-out;
}

a:hover {
  color: darken($green, 10%);
}


code {
  background: #f8f8f8;
}

h3 {
  margin: $grid * 5 0 $grid;
}

p {
  margin: 0 0 $grid * 2;
}
